Source: rainbowcrack
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://project-rainbowcrack.com/index.htm
Vcs-Git: git://git.kali.org/packages/rainbowcrack.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/rainbowcrack.git;a=summary

Package: rainbowcrack
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libstdc++6
Description: Rainbow table password cracker
 RainbowCrack is a general propose implementation of 
 Philippe Oechslin's faster time-memory trade-off technique. 
 It crack hashes with rainbow tables.
 .
 RainbowCrack uses time-memory tradeoff algorithm to crack 
 hashes. It differs from the hash crackers that use brute 
 force algorithm.
